{% extends "base.html" %}
{% load custom_filter %}

{% block title %}
  <title>{% if is_update %}Update{% else %}Create{% endif %} Task</title>
{% endblock %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
			<h1>Tag List</h1>
			<a href="{% url 'todo-app:create-tag' %}">Add New Tag</a>
			<table>
				<tr>
					<th>Name</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
				{% for tag in tags %}
					<tr>
						<td>{{ tag.name }}</td>
						<td>
							<a href="{% url 'todo-app:update-tag' tag.id %}">Update</a>
						</td>
						<td>
							<a href="#">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</table>
    </div>
  </div>
{% endblock %}
