<nav id="sidebar" class="bg-white shadow-sm h-100">
  <div class="p-3">
    <ul class="nav flex-column">
     <li class="nav-item">
			 <a class="nav-link text-dark" href="#">
			   Home
			 </a>
     </li>
     <li class="nav-item">
       <a class="nav-link text-dark" href="#">
         Tags
       </a>
     </li>
    </ul>
  </div>
</nav>

<style>
    #sidebar .nav-link {
        transition: background-color 0.3s;
    }

    #sidebar .nav-link:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 0.25rem;
    }
</style>